create database QLNhaHang
GO
USE [QLNhaHang]
GO
/****** Object:  Table [dbo].[LoaiNV]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNV](
	[MaLoai] [nchar](10) NOT NULL,
	[TenLoai] [nvarchar](30) NULL,
	[Luong] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiNV] ([MaLoai], [TenLoai], [Luong]) VALUES (N'1         ', N'Quản lý nhà hàng', 10000000.0000)
INSERT [dbo].[LoaiNV] ([MaLoai], [TenLoai], [Luong]) VALUES (N'2         ', N'Quản lý kho', 6000000.0000)
INSERT [dbo].[LoaiNV] ([MaLoai], [TenLoai], [Luong]) VALUES (N'3         ', N'Tiếp tân', 5000000.0000)
/****** Object:  Table [dbo].[LoaiMonAn]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMonAn](
	[MaLoai] [nchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiMonAn] ([MaLoai], [TenLoai]) VALUES (N'Bia       ', N'Bia các loại')
INSERT [dbo].[LoaiMonAn] ([MaLoai], [TenLoai]) VALUES (N'Com       ', N'Cơm, mì, cháo, lẩu')
INSERT [dbo].[LoaiMonAn] ([MaLoai], [TenLoai]) VALUES (N'GaCuaGhe  ', N'Gà, cua, ghẹ, mực')
/****** Object:  Table [dbo].[LoaiBan]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBan](
	[Maloai] [nchar](10) NOT NULL,
	[SucChua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Maloai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiBan] ([Maloai], [SucChua]) VALUES (N'1         ', 5)
INSERT [dbo].[LoaiBan] ([Maloai], [SucChua]) VALUES (N'2         ', 10)
INSERT [dbo].[LoaiBan] ([Maloai], [SucChua]) VALUES (N'3         ', 15)
/****** Object:  Table [dbo].[NhaHang]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaHang](
	[MaNH] [nchar](10) NOT NULL,
	[TenNH] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[sdt] [int] NULL,
	[MaNQL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhaHang] ([MaNH], [TenNH], [DiaChi], [sdt], [MaNQL]) VALUES (N'1         ', N'Nhà hàng hải sản Nha Trang', N'123, Quang Trung, Gò Vấp', 83888666, 3)
INSERT [dbo].[NhaHang] ([MaNH], [TenNH], [DiaChi], [sdt], [MaNQL]) VALUES (N'2         ', N'Nhà hàng Tân Sơn Nhất', N'456, Hoàng Văn Thụ, Bình Thạnh', 83444555, 1)
INSERT [dbo].[NhaHang] ([MaNH], [TenNH], [DiaChi], [sdt], [MaNQL]) VALUES (N'3         ', N'Nhà hàng Caravel', N'5, Đồng Khởi, Q.1', 83777555, 3)
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DiemUuTien] [int] NULL,
 CONSTRAINT [PK__NhaCungC__3A185DEB267ABA7A] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [sdt], [DiaChi], [DiemUuTien]) VALUES (1, N'Đại lý thực phẩm Vissan', N'(08) 3840 4826', N'114B, Trần Quang Khải, Quận 1, TP.HCM', 1)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [sdt], [DiaChi], [DiemUuTien]) VALUES (5, N'Công ty thực phẩn SAFACO', N'(848) 37 245 275 – 37 245 272', N'7  Kha Vạn Cân, P.Linh Tây, Q.Thủ Đức, Tp.HCM', 1)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [sdt], [DiaChi], [DiemUuTien]) VALUES (6, N'Công ty CP thực phẩm Cholimex', N'(08) – 38 573482 – 38 548258', N'Đường số 7, KCN Vĩnh Lộc, huyện Bình Chánh, TP HCM', 3)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
/****** Object:  Table [dbo].[KhachHang]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[cmnd] [int] NOT NULL,
	[TenKhachHang] [nvarchar](30) NULL,
	[sdt] [int] NULL,
	[loai] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[cmnd] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([cmnd], [TenKhachHang], [sdt], [loai]) VALUES (123654789, N'Trung Tân', 936786110, N'1         ')
/****** Object:  Table [dbo].[QLNguoiDung]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLNguoiDung](
	[UserName] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[QLNguoiDung] ([UserName], [Pass], [Email]) VALUES (N'quanly', N'1', N'nmnghia@gmail.com')
INSERT [dbo].[QLNguoiDung] ([UserName], [Pass], [Email]) VALUES (N'quantri', N'1', N'hatu@fit.hcmus.edu.vn')
INSERT [dbo].[QLNguoiDung] ([UserName], [Pass], [Email]) VALUES (N'thukho', N'1', N'nmvu@gmail.com')
/****** Object:  Table [dbo].[NhanVien]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[MaNH] [nchar](10) NULL,
	[Maloai] [nchar](10) NULL,
	[cmnd] [int] NULL,
	[sdt] [int] NULL,
	[Username] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MaNH], [Maloai], [cmnd], [sdt], [Username]) VALUES (1, N'Nguyễn Bá Ngọc', N'1         ', N'3         ', 123456789, 936214587, N'tieptan')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MaNH], [Maloai], [cmnd], [sdt], [Username]) VALUES (2, N'Nguyễn Minh Vũ', N'1         ', N'2         ', 321654987, 963258774, N'thukho')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MaNH], [Maloai], [cmnd], [sdt], [Username]) VALUES (3, N'Bùi Trung Tân', N'1         ', N'4         ', 271955488, 936786110, N'thungan')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNL] [int] IDENTITY(1,1) NOT NULL,
	[MaNH] [nchar](10) NULL,
	[TenNL] [nvarchar](50) NULL,
	[DonVi] [nvarchar](20) NULL,
	[SoLuongTon] [int] NULL,
 CONSTRAINT [PK_NguyenLieu] PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON
INSERT [dbo].[NguyenLieu] ([MaNL], [MaNH], [TenNL], [DonVi], [SoLuongTon]) VALUES (1, N'1         ', N'Bánh tráng', N'Chục', 52)
INSERT [dbo].[NguyenLieu] ([MaNL], [MaNH], [TenNL], [DonVi], [SoLuongTon]) VALUES (2, N'2         ', N'Bánh tráng', N'Chục', 51)
INSERT [dbo].[NguyenLieu] ([MaNL], [MaNH], [TenNL], [DonVi], [SoLuongTon]) VALUES (3, N'3         ', N'Bánh tráng', N'Chục', 51)
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
/****** Object:  Table [dbo].[MonAn]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](30) NULL,
	[LoaiMon] [nchar](10) NULL,
	[Gia] [float] NULL,
	[DonViTinh] [nchar](10) NULL,
	[MaNH] [nchar](10) NULL,
 CONSTRAINT [PK__MonAn__3A5B29A807020F21] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MonAn] ON
INSERT [dbo].[MonAn] ([MaMon], [TenMon], [LoaiMon], [Gia], [DonViTinh], [MaNH]) VALUES (1, N'Bánh tráng nướng', N'KV        ', 8000, N'Cái       ', NULL)
INSERT [dbo].[MonAn] ([MaMon], [TenMon], [LoaiMon], [Gia], [DonViTinh], [MaNH]) VALUES (2, N'Đậu phộng rang', N'KV        ', 10000, N'Gói       ', NULL)
INSERT [dbo].[MonAn] ([MaMon], [TenMon], [LoaiMon], [Gia], [DonViTinh], [MaNH]) VALUES (3, N'Trứng cút luộc', N'KV        ', 12000, N'Chục      ', NULL)
SET IDENTITY_INSERT [dbo].[MonAn] OFF
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [int] NOT NULL,
	[TenKhuVuc] [nvarchar](30) NULL,
	[ViTri] [nvarchar](30) NULL,
	[MaNH] [nchar](10) NULL,
 CONSTRAINT [PK__KhuVuc__0676EB831273C1CD] PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [ViTri], [MaNH]) VALUES (1, N'Sảnh – tầng trệt', N'Giữa đại sảnh của nhà hang', N'1         ')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [ViTri], [MaNH]) VALUES (2, N'Góc – tầng trệt', N'Nằm ở góc', N'1         ')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [ViTri], [MaNH]) VALUES (3, N'Sát tường - tầng trệt', N'Sát tường, nhìn ra bên ngoài', N'1         ')
/****** Object:  Table [dbo].[DatHang]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[MaNH] [nchar](10) NULL,
	[TongTien] [float] NULL,
	[ThoiGianDat] [datetime] NULL,
	[ThoiGianGiao] [datetime] NULL,
	[TinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_DatHang] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DatHang] ON
INSERT [dbo].[DatHang] ([MaHoaDon], [MaNCC], [MaNH], [TongTien], [ThoiGianDat], [ThoiGianGiao], [TinhTrang]) VALUES (2, 6, N'1         ', 98000, CAST(0x0000A05700D2735F AS DateTime), CAST(0x0000A05400A62E94 AS DateTime), N'Đã Giao')
INSERT [dbo].[DatHang] ([MaHoaDon], [MaNCC], [MaNH], [TongTien], [ThoiGianDat], [ThoiGianGiao], [TinhTrang]) VALUES (3, 7, N'1         ', 81500, CAST(0x0000A04E00A64F64 AS DateTime), CAST(0x0000A04E00A64604 AS DateTime), N'Hủy')
INSERT [dbo].[DatHang] ([MaHoaDon], [MaNCC], [MaNH], [TongTien], [ThoiGianDat], [ThoiGianGiao], [TinhTrang]) VALUES (4, 8, N'1         ', 129000, CAST(0x0000A04E00A65E92 AS DateTime), CAST(0x0000A05900A65515 AS DateTime), N'Chưa Giao')
SET IDENTITY_INSERT [dbo].[DatHang] OFF
/****** Object:  Table [dbo].[ChiTietDatHang]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatHang](
	[MaHoaDon] [int] NOT NULL,
	[MaNL] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_ChiTietDatHang] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDatHang] ([MaHoaDon], [MaNL], [SoLuong], [ThanhTien]) VALUES (2, 22, 20, 1000000)
INSERT [dbo].[ChiTietDatHang] ([MaHoaDon], [MaNL], [SoLuong], [ThanhTien]) VALUES (3, 44, 1, 30000)
INSERT [dbo].[ChiTietDatHang] ([MaHoaDon], [MaNL], [SoLuong], [ThanhTien]) VALUES (3, 46, 1, 5500)
/****** Object:  Table [dbo].[BanAn]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanAn](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[MaKhuVuc] [int] NULL,
	[LoaiBan] [nchar](10) NULL,
	[MaNH] [nchar](10) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK__BanAn__3520ED6C1A14E395] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BanAn] ON
INSERT [dbo].[BanAn] ([MaBan], [MaKhuVuc], [LoaiBan], [MaNH], [TrangThai]) VALUES (1, 1, N'4         ', N'1         ', 1)
INSERT [dbo].[BanAn] ([MaBan], [MaKhuVuc], [LoaiBan], [MaNH], [TrangThai]) VALUES (2, 2, N'3         ', N'1         ', 0)
INSERT [dbo].[BanAn] ([MaBan], [MaKhuVuc], [LoaiBan], [MaNH], [TrangThai]) VALUES (3, 6, N'2         ', N'1         ', 0)
SET IDENTITY_INSERT [dbo].[BanAn] OFF
/****** Object:  Table [dbo].[ChiTietNCC]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNCC](
	[MaNL] [int] NOT NULL,
	[MaNCC] [int] NOT NULL,
	[Gia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC,
	[MaNCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietNCC] ([MaNL], [MaNCC], [Gia]) VALUES (1, 5, 0)
INSERT [dbo].[ChiTietNCC] ([MaNL], [MaNCC], [Gia]) VALUES (1, 6, 20)
INSERT [dbo].[ChiTietNCC] ([MaNL], [MaNCC], [Gia]) VALUES (1, 7, 8000)
/****** Object:  Table [dbo].[ChiTietMonAn]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietMonAn](
	[MaMon] [int] NOT NULL,
	[MaNguyenLieu] [int] NOT NULL,
	[SoLuong] [float] NULL,
 CONSTRAINT [PK__ChiTietM__762E309D2E1BDC42] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC,
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietMonAn] ([MaMon], [MaNguyenLieu], [SoLuong]) VALUES (1, 1, 2)
INSERT [dbo].[ChiTietMonAn] ([MaMon], [MaNguyenLieu], [SoLuong]) VALUES (2, 19, 0.3)
INSERT [dbo].[ChiTietMonAn] ([MaMon], [MaNguyenLieu], [SoLuong]) VALUES (3, 2, 0.1)
/****** Object:  Table [dbo].[HoaDon]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[TongTien] [float] NULL,
	[ThoiGianLap] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[MaNV] [int] NULL,
	[MaBan] [int] NULL,
 CONSTRAINT [PK__HoaDon__2725A6E01BFD2C07] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON
INSERT [dbo].[HoaDon] ([MaHD], [TongTien], [ThoiGianLap], [ThoiGianKetThuc], [MaNV], [MaBan]) VALUES (1, 1390000, CAST(0x0000A00B0128A180 AS DateTime), CAST(0x0000A00B0172C9E0 AS DateTime), 7, 2)
INSERT [dbo].[HoaDon] ([MaHD], [TongTien], [ThoiGianLap], [ThoiGianKetThuc], [MaNV], [MaBan]) VALUES (2, 0, CAST(0x0000A00B0128A180 AS DateTime), CAST(0x0000A00B0128A180 AS DateTime), 7, 1)
INSERT [dbo].[HoaDon] ([MaHD], [TongTien], [ThoiGianLap], [ThoiGianKetThuc], [MaNV], [MaBan]) VALUES (3, 0, CAST(0x0000A00B0128A180 AS DateTime), CAST(0x0000A00B0128A180 AS DateTime), 3, 6)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
/****** Object:  Table [dbo].[DatBan]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatBan](
	[MaNH] [nchar](10) NOT NULL,
	[MaBan] [int] NOT NULL,
	[maKhachHang] [int] NULL,
	[ThoiGianDat] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
	[ThoiGianDen] [datetime] NOT NULL,
	[Sdt] [int] NULL,
 CONSTRAINT [PK__DatBan__46E29EED276EDEB3] PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC,
	[MaBan] ASC,
	[TrangThai] ASC,
	[ThoiGianDen] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DatBan] ([MaNH], [MaBan], [maKhachHang], [ThoiGianDat], [TrangThai], [ThoiGianDen], [Sdt]) VALUES (N'1         ', 1, 123654789, CAST(0x0000A00B00000000 AS DateTime), 1, CAST(0x0000A0E100000000 AS DateTime), NULL)
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 05/20/2012 23:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaMon] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK__ChiTietH__B480147A1FCDBCEB] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [SoLuong], [ThanhTien]) VALUES (1, 1, 3, 24000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [SoLuong], [ThanhTien]) VALUES (1, 9, 1, 35000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [SoLuong], [ThanhTien]) VALUES (1, 34, 1, 80000)
/****** Object:  Default [DF__BanAn__TrangThai__1BFD2C07]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[BanAn] ADD  CONSTRAINT [DF__BanAn__TrangThai__1BFD2C07]  DEFAULT ((0)) FOR [TrangThai]
GO
/****** Object:  ForeignKey [FK_BanAn_KhuVuc]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[BanAn]  WITH CHECK ADD  CONSTRAINT [FK_BanAn_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[BanAn] CHECK CONSTRAINT [FK_BanAn_KhuVuc]
GO
/****** Object:  ForeignKey [FK_BanAn_LoaiBan]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[BanAn]  WITH CHECK ADD  CONSTRAINT [FK_BanAn_LoaiBan] FOREIGN KEY([LoaiBan])
REFERENCES [dbo].[LoaiBan] ([Maloai])
GO
ALTER TABLE [dbo].[BanAn] CHECK CONSTRAINT [FK_BanAn_LoaiBan]
GO
/****** Object:  ForeignKey [FK_ChiTietDatHang_DatHang]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[ChiTietDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatHang_DatHang] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[DatHang] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietDatHang] CHECK CONSTRAINT [FK_ChiTietDatHang_DatHang]
GO
/****** Object:  ForeignKey [FK_ChiTietDatHang_NguyenLieu]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[ChiTietDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatHang_NguyenLieu] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[ChiTietDatHang] CHECK CONSTRAINT [FK_ChiTietDatHang_NguyenLieu]
GO
/****** Object:  ForeignKey [FK_ChiTietHoaDon_HoaDon]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
/****** Object:  ForeignKey [FK_ChiTietHoaDon_MonAn]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_MonAn] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonAn] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_MonAn]
GO
/****** Object:  ForeignKey [FK_ChiTietMonAn_MonAn]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[ChiTietMonAn]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietMonAn_MonAn] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonAn] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietMonAn] CHECK CONSTRAINT [FK_ChiTietMonAn_MonAn]
GO
/****** Object:  ForeignKey [FK_ChiTietNCC_NguyenLieu]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[ChiTietNCC]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNCC_NguyenLieu] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[ChiTietNCC] CHECK CONSTRAINT [FK_ChiTietNCC_NguyenLieu]
GO
/****** Object:  ForeignKey [FK_ChiTietNCC_NhaCungCap]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[ChiTietNCC]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNCC_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[ChiTietNCC] CHECK CONSTRAINT [FK_ChiTietNCC_NhaCungCap]
GO
/****** Object:  ForeignKey [FK_DatBan_BanAn]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[DatBan]  WITH CHECK ADD  CONSTRAINT [FK_DatBan_BanAn] FOREIGN KEY([MaBan])
REFERENCES [dbo].[BanAn] ([MaBan])
GO
ALTER TABLE [dbo].[DatBan] CHECK CONSTRAINT [FK_DatBan_BanAn]
GO
/****** Object:  ForeignKey [FK_DatBan_NhaHang]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[DatBan]  WITH CHECK ADD  CONSTRAINT [FK_DatBan_NhaHang] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NhaHang] ([MaNH])
GO
ALTER TABLE [dbo].[DatBan] CHECK CONSTRAINT [FK_DatBan_NhaHang]
GO
/****** Object:  ForeignKey [FK_DatHang_NhaCungCap]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_NhaCungCap]
GO
/****** Object:  ForeignKey [FK_DatHang_NhaHang]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_NhaHang] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NhaHang] ([MaNH])
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_NhaHang]
GO
/****** Object:  ForeignKey [FK_HoaDon_BanAn]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_BanAn] FOREIGN KEY([MaBan])
REFERENCES [dbo].[BanAn] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_BanAn]
GO
/****** Object:  ForeignKey [FK_KhuVuc_NhaHang]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[KhuVuc]  WITH CHECK ADD  CONSTRAINT [FK_KhuVuc_NhaHang] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NhaHang] ([MaNH])
GO
ALTER TABLE [dbo].[KhuVuc] CHECK CONSTRAINT [FK_KhuVuc_NhaHang]
GO
/****** Object:  ForeignKey [FK_MonAn_LoaiMonAn]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_LoaiMonAn] FOREIGN KEY([LoaiMon])
REFERENCES [dbo].[LoaiMonAn] ([MaLoai])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK_MonAn_LoaiMonAn]
GO
/****** Object:  ForeignKey [FK_MonAn_NhaHang]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_NhaHang] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NhaHang] ([MaNH])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK_MonAn_NhaHang]
GO
/****** Object:  ForeignKey [FK_NguyenLieu_NhaHang]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD  CONSTRAINT [FK_NguyenLieu_NhaHang] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NhaHang] ([MaNH])
GO
ALTER TABLE [dbo].[NguyenLieu] CHECK CONSTRAINT [FK_NguyenLieu_NhaHang]
GO
/****** Object:  ForeignKey [FK_NhanVien_LoaiNV]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LoaiNV] FOREIGN KEY([Maloai])
REFERENCES [dbo].[LoaiNV] ([MaLoai])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LoaiNV]
GO
/****** Object:  ForeignKey [FK_NhanVien_MaNH]    Script Date: 05/20/2012 23:08:19 ******/
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_MaNH] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NhaHang] ([MaNH])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_MaNH]
GO
/****** Object:  UserDefinedTableType [dbo].[TableType_ChiTietDatHang]    Script Date: 05/20/2012 23:08:20 ******/
CREATE TYPE [dbo].[TableType_ChiTietDatHang] AS TABLE(
	[MaHoaDon] [int] NULL,
	[MaNL] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [float] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TableType_ChiTietNCC]    Script Date: 05/20/2012 23:08:20 ******/
CREATE TYPE [dbo].[TableType_ChiTietNCC] AS TABLE(
	[MaNL] [int] NULL,
	[MaNCC] [int] NULL,
	[Gia] [float] NULL
)
GO
