USE [QLNhaHang]
GO
alter table NguyenLieu alter column Gia float
GO
alter table NguyenLieu alter column DonVi nvarchar(20)
GO
alter table NguyenLieu drop constraint FK_NguyenLieu_NhaCungCap
GO
alter table NguyenLieu drop column maNCC
GO
Delete from NguyenLieu
GO
alter table NguyenLieu drop constraint PK__NguyenLi__2725D73C2A4B4B5E
GO
alter table NguyenLieu add constraint PK_NguyenLieu primary key(MaNL)
GO
alter table DatHang alter column ThoiGianGiao nvarchar(10)
GO
alter table DatHang alter column ThanhTien float
GO
alter table ChiTietDatHang alter column Gia float
GO
create table ChiTietNCC
(
	MaNL int,
	MaNCC int,
	primary key (MaNL,MaNCC)
)
GO
alter table ChiTietNCC add constraint FK_ChiTietNCC_NhaCungCap foreign key (MaNCC) references NhaCungCap(MaNCC)
GO
alter table ChiTietNCC add constraint FK_ChiTietNCC_NguyenLieu foreign key (MaNL) references NguyenLieu(MaNL)
GO
INSERT [dbo].[NguyenLieu] ([MaNL], [MaNH], [TenNL], [Gia], [DonVi], [SoLuongTon]) VALUES (1, N'1         ', N'Bánh tráng', 30000, N'Chục', 50)
INSERT [dbo].[NguyenLieu] ([MaNL], [MaNH], [TenNL], [Gia], [DonVi], [SoLuongTon]) VALUES (2, N'2         ', N'Bánh tráng', 30000, N'Chục', 50)
INSERT [dbo].[NguyenLieu] ([MaNL], [MaNH], [TenNL], [Gia], [DonVi], [SoLuongTon]) VALUES (3, N'3         ', N'Bánh tráng', 30000, N'Chục', 50)
